

<!-- <% @newsletters.each do |n| %> <%= n.title %> <%= link_to "edit",
edit_newsletter_path(n)%>
<br />
<% end %> -->

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">

  <div class="flex justify-center p-5 items-between gap-5">
    <div class="text-3xl text-center">
      Newsletters
    </div>
      <a href="/newsletters/new" class="ml-5 inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out">Add </a>
  </div>
      
    <div class="flex inline-block justify-center min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              
              <th scope="col" class="px-6 py-4">Title</th>
              <th scope="col" class="px-6 py-4"><span>Edit</span></th>
            </tr>
          </thead>
          <tbody>
            <% @newsletters.each do |n| %>
            <tr class="border-b dark:border-neutral-500">
              <td class="whitespace-nowrap px-6 py-4 font-medium">
                <%= n.title %>
              </td>
              <td class="whitespace-nowrap px-6 py-4">
                <a href="<%= edit_newsletter_path(n) %>" class="ml-5 inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out" >Edit</a>

              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
