  <h1 class="font-bold text-4xl">Create a newsletter</h1>

  <form action="/newsletters" method= "POST">
  <%= csrf_meta_tags %>
  <input type="text" name="newsletter[title]" />
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button>Create</button>
  
  </form>

