<h1 class="font-bold text-4xl">Accounts#new</h1>

<form action="/accounts" method="POST" data-turbo="false">
  <%= csrf_meta_tags %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label for="country">Country</label>
    <select
      id="country"
      name="account[country]"
      class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900"
    >
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="MX">Mexico</option>
      <option value="IE">Ireland</option>

    </select>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit" class="rounded-md bg-indigo-600 py-1.5 px-2.5 text-sm font-semibold text-white shadow-sm hover:" >
    Create a Stripe Account
  </button>
  
</form>
