

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">

<div class="flex justify-center p-5 items-between gap-5">
    <div class="text-3xl text-center">
      Issues
    </div>
      <a href="/issues/new" class="ml-5 inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out">Add </a>
  </div>
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              
              <th scope="col" class="px-6 py-4">Subject</th>
              <th scope="col" class="px-6 py-4"><span>Newsletter</span></th>
            </tr>
          </thead>
          <tbody>
            <% @issues.each do |n| %>
            <tr class="border-b dark:border-neutral-500">
              <td class="whitespace-nowrap px-6 py-4 font-medium">
                <%= n.subject %>
              </td>
              <td class="whitespace-nowrap px-6 py-4 font-medium">
                <%= n.newsletter.title %>
              </td>
              <td class="whitespace-nowrap px-6 py-4">
                <a href="<%= edit_issue_path(n) %>" class="ml-5 inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out" >Edit</a>

              </td>
            </tr>
            <% end %>
            <% if @issues.empty? %>
            Create a new issue
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
