<div class="flex pt-5 text-2xl justify-center">
 <%= @issue.newsletter.title %>:
 
</div>

<div class="flex italic pt-5 text-xl justify-center">
<%= @issue.subject %> <br />

</div>

<div class="flex pt-20 w-screen-1/2">
<%= @issue.content %> <br />
</div>



